{% extends 'layout.html' %}
{% block content %}
  <h1 class="visually-hidden">XOX Point-And-Figure</h1>

  <div class="px-4 py-5 my-5 text-center">
    <!-- <img class="d-block mx-auto mb-4" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
    <h1 class="display-5 fw-bold text-body-emphasis">XOX Point-And-Figure</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Accurate Point and Figure charts from time series data.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <!-- <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Primary button</button> -->
        <!-- <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button> -->
      </div>
    </div>
  </div>
  <div class="container text-center">
    <div class="row">
      <div class="col">&nbsp;</div>
      <div class="col form-container">
        <form method="POST" action="{{ url_for('home') }}">
          {{ form.hidden_tag() }}
          <fieldset class="form-group">
            <legend>Select File</legend>
            <div class="input-group mb-3">
              {{ form.chart_select.label(class_="input-group-text") }}
              {{ form.chart_select(class_="form-select") }}
            </div>
            <div class="input-group mb-3">
              {{ form.scale_select.label(class_="input-group-text") }}
              {{ form.scale_select(class_="form-select") }}
            </div>
          </fieldset>
          <br/>
          <div class="form-group">
            {{ form.submit(class="btn btn-primary px-4") }}
          </div>
        </form>
      </div>
      <div class="col form-container">
        {% if selection %}
        <div class="form-group">
          <form method="POST" action="{{ url_for('home') }}">
            {{ form2.hidden_tag() }}
            <legend>Chart Parameters for {{ selection }}</legend>
            <fieldset class="form-group">
            <div class="input-group mb-3">
              {{ form2.reversal.label(class_="input-group-text") }}
              {{ form2.reversal(class_="form-select") }}
            </div>
            </fieldset>
            <br/>
            <div class="form-group">
                {{ form2.submit(class="btn btn-primary px-4") }}
            </div>
          </form>
        </div>
        {% endif %}
      </div>
      <div class="col">&nbsp;</div>
    </div>
  </div>
   {% if chart_params %}
        <h2>Example chart:</h2>
        <div class="chart-container">
            Data file: {{ chart_params['data_file'] }}</br>
            Box Size: {{ chart_params['box_size'] }}</br>
            Reversal: {{ chart_params['reversal_size'] }}</br>
            Scale Method: {{ chart_params['scale_method'] }}</br>
            Plot Method: {{ chart_params['plot_method'] }}</br>
            Daily Price</br>
            From: {{ date_range[0] }}</br>
            To: {{ date_range[1] }}
            <div class="text-chart">
                {% for line in chart %}
                    {{ line }}<br/>
                {% endfor %}
            </div>
        </div>
    {% endif %}

{% endblock %}
